.movie-item-cont {
  width: 23%;
  margin: 10px;
}

.thumbnail {
  width: 300px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal {
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
}

.trigger-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
